.checkBoxFilterContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filterSection {
  margin-bottom: 8px;
  flex: 1;

  @media (min-width: 600px) {
    margin-right: 8px;
    flex: none;
  }
}
.filterSection > label > * {
  padding-right: 5px;
}
